@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Post</h1>
    <p>Creación de CRUD. Explicación Modelo, Controlador y Repositorio para su funcionalidad. <a href="https://docs.microsoft.com/aspnet/core">by Rafael Ruiz</a>.</p>
</div>
